@model IEnumerable<ClientDisplayVM>

@{
    ViewData["Title"] = "Clients";
}

<html>
    <body>

<div class="d-sm-flex align-items-center mb-4">
    <a id="draggable2" class="btn btn-warning btn-sm d-none d-sm-inline-block draggable ui-widget-content ui-draggable ui-draggable-handle"
            style="border: 1px solid;" role="button" asp-controller="Clients" asp-action="Index_SEISGEAR">
        <i class="fas fa-download fa-sm text-white-50"></i>&nbsp; SEIS GEAR
    </a>
    <a id="draggable1" class="btn btn-warning btn-sm d-none d-sm-inline-block draggable ui-widget-content ui-draggable ui-draggable-handle"
            style="border: 1px solid;" role="button" asp-controller="Clients" asp-action="Index_PGS">
        <i class="fas fa-download fa-sm text-white-50"></i>&nbsp; PGS
    </a>
    <a id="draggable2" class="btn btn-warning btn-sm d-none d-sm-inline-block draggable ui-widget-content ui-draggable ui-draggable-handle"
            style="border: 1px solid;" role="button" asp-controller="Clients" asp-action="Index_BGP">
        <i class="fas fa-download fa-sm text-white-50"></i>&nbsp; BGP
    </a>
</div>

<div class="container shadow1" style="display:flex;justify-content:center;width:55%;border-radius:5px;">

    <table class="table table-striped table-sm f12">
    <thead style="font-weight:bold;font-size:18px;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.companyName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.emailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.streetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.postalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.countryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.webAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.companyName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.emailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.streetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.countryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.webAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>*@
        </tr>
}
    </tbody>
</table>

</div>


<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

</body>
</html>

@section Scripts {
    <script>        
        $(function() {
            $('.table').DataTable();
        });
    </script>
}