@model InboundInvoiceVM

@{
    ViewData["Title"] = "Invoice Details";
}

<h4>Invoice Details</h4>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 bizCard">
			<div class="row">
				<div class="col-md-6">
                    <dt class = "col-sm-4">
                        @Html.DisplayNameFor(model => model.clientName)
                    </dt>
                    <dd class = "col-sm-8">
                        &nbsp; @Html.DisplayFor(model => model.clientName)
                    </dd>
                    <dt class = "col-sm-4">
                        @Html.DisplayNameFor(model => model.invoiceNumber)
                    </dt>
                    <dd class = "col-sm-8">
                        &nbsp; @Html.DisplayFor(model => model.invoiceNumber)
                    </dd>
                </div>

                <div>
                    <dt class = "col-sm-4">
                        @Html.DisplayNameFor(model => model.invoiceDate)
                    </dt>
                    <dd class = "col-sm-8">
                        &nbsp; @Html.DisplayFor(model => model.invoiceDate)
                    </dd>
                    
                </div>
                <hr />
                <div>
                    <dt class = "col-sm-4">
                        &nbsp;&nbsp;@Html.DisplayNameFor(model => model.invoiceNotes)
                    </dt>
                    <dd class = "col-sm-8">
                        &nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.invoiceNotes)
                    </dd>
                </div>

                <hr />
                <div class="col-md-3">
                    <div>
                        <dt style="display:flex; align-content:center;">
                            <a asp-action="Index" class="btn btn-dark btn-sm"><i class="fa-solid fa-arrow-left hov2"></i> Back</a>&nbsp;|&nbsp;
                            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning btn-sm"><i class="fa-solid fa-pencil hov3"></i> Edit</a>
                        </dt>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.clientName)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.clientName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.invoiceNumber)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.invoiceNumber)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.invoiceDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.invoiceDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.invoiceNotes)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.invoiceNotes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-dark btn-sm">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning btn-sm">Edit</a>   
</div>*@
