@model OutboundInvoiceVM

@{
    ViewData["Title"] = " Invoice Details";
}

<h4>Invoice Details</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.invoiceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.invoiceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.clientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.clientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.invoiceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.invoiceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.invoiceNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.invoiceNotes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-dark btn-sm">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning btn-sm">Edit</a>
</div>
