@model InventoryItemVM

@{
    ViewData["Title"] = "Item Details";
}

<h1>Item Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.clientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.clientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.itemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.itemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inboundInvoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inboundInvoice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.outboundInvoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.outboundInvoice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shipDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shipDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.itemQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.itemQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.itemType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.itemType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.itemCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.itemCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.itemModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.itemModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.serialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.serialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.partNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.partNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.itemLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.itemLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.itemStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.itemStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.itemManufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.itemManufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.itemNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.itemNotes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-dark btn-sm">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning btn-sm">Edit</a>
</div>
